<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        WebExtension Playground
      </h1>
    </header>

    <main>
      <p>
        This Glitch allows you to build and test a browser extension in the browser.
      </p>
      
      <ol>
        <li>Click the Fish in the top right</li>
        <li>Choose "Remix on Glitch" to copy this project</li>
        <li>Learn about <a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions">Browser Extensions on MDN</a></li>
        <li>Edit the files in the /extension directory in the Glitch editor</li>
        <li>View this page by clicking "Show [Live]" above</li>
        <li>Click the "Install!" button below</li>
      </ol>
      
      <a href="/download">Install!</a>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
